@font-face {
  font-family: BrunoAce;
  src: url(../fonts/BrunoAce-Regular.ttf);
}

:root {
  --dark-color: rgb(86, 86, 86);
  --color-green: rgba(128, 248, 206, 0.753);
  --color-bg: rgb(10, 19, 16);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
p {
  font-family: "BrunoAce";
}

h1 {
  font-size: 16rem;
  -webkit-text-stroke: 0.9px var(--color-green);
  text-align: center;
}

p {
  font-size: 2rem;
  color: var(--color-green);
  text-align: center;
  margin: 0 0 1.4rem 0;
}

section {
  height: 100vh;
  background-color: var(--color-bg);
  padding: 15rem 0 0 0;
}

article {
  width: 70rem;
  height: 30rem;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.878) 1%,
    var(--color-bg) 45%
  );
  border: 0.3rem solid var(--color-green);
  border-radius: 4rem;
  box-shadow: 5px 5px 10px var(--dark-color);
  padding: 2.5rem;
  margin: 0 auto;
}

div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
